#
# RdaMicro Wireless LAN device configuration
#
menuconfig RDA_WLAN
	bool "RdaMicro IEEE802.11bgn Wlan Chip driver"
	default n
	---help---
		Need to enable this for RDA Wlan Chip.

if RDA_WLAN
config RDA_WLAN_POWER
	bool "RdaMicro Wlan Chip PowerCtrl Support"
	depends on I2C
	default y
	---help---
	  This option enables PowerManager support for RdaMicro Wlan Chip.
	  Say Y if you want to control the chip power.

config RDAWFMAC
	tristate "Rdamicro IEEE802.11bgn embedded FullMac WLAN driver"
	depends on CFG80211
	depends on RDA_WLAN_POWER
	default m
	---help---
	  This module adds support for embedded wireless adapters based on
	  Rdamicro IEEE802.11bgn FullMAC chipsets. It has to work with at least
	  one of the bus interface support. If you choose to build a module,
	  it'll be called rdawfmac.ko.

if RDAWFMAC
config RDAWFMAC_SDIO
	bool "SDIO bus interface support for FullMac driver"
	depends on MMC
	depends on RDAWFMAC
	default y
	---help---
	  This option enables the SDIO bus interface support for Rdamicro
	  IEEE802.11bgn embedded FullMAC WLAN driver. Say Y if you want to
	  use the driver for a SDIO wireless card.

config RDAWFMAC_USB
	bool "USB bus interface support for FullMAC driver"
	depends on USB
	depends on RDAWFMAC
	default n
	---help---
	  This option enables the USB bus interface support for Rdamicro
	  IEEE802.11bgn embedded FullMAC WLAN driver. Say Y if you want to
	  use the driver for an USB wireless card.

config RDAWFMAC_RF_TEST
	bool "RDA5995 RF Test support"
	depends on RDAWFMAC
	default y
	---help---
	  This option enables the SDIO RF test support for Rdamicro
	  IEEE802.11bgn embedded FullMAC WLAN driver. Say Y if you want to
	  use this function for a RDA5995.

config RDAWDBG
	bool "RdaMicro driver debug functions"
	depends on RDAWFMAC
	default y
	---help---
	  Selecting this enables additional code for debug purposes.
endif # RDAWFMAC

endif # RDA_WLAN
